p{
	font-family: inherit;
	font-size: 14px;
	line-height: 20px;
}

.helvbold{
	font-family: 'helvetica_neuebold', 'Helvetica', 'Arial', sans-serif;
}

.helvreg{
	font-family: 'helvetica_neueregular', 'Helvetica', 'Arial', sans-serif;
}

.helvlight{
	font-family: 'helvetica_neuelight', 'Helvetica', 'Arial', sans-serif;
}

header{
	height: 645px;
	position: relative;
	background: url('/img/bg.png');
	background-size:100% auto;
	
}

.wrapper{
	width: 1000px;
	margin: auto;
	position: relative;
}

#logo{
	font-family: 'helvetica_neuebold', 'Helvetica', 'Arial', sans-serif;
	font-size: 28px;
	line-height: 60px;
	color: #FFF;
}

#logo.dark{
	color: #000;
	border-bottom: 1px solid #EEE;
}

.link{
	float: right;
	font-size: 14px;
	margin: 22px 20px 0 0;
	color: #666;
	font-family: 'helvetica_neueregular', 'Helvetica', 'Arial', sans-serif;
}

.link.light{
	color: #FFF;
}

#logo > a{
	color: inherit;
	text-decoration: none;
}

img.phones{
	position: absolute;
	right: 0;
	top: 75px;
	z-index: 3;
}

img.phones.shifted{
	right: 140px;
}

.description{
	margin-right: 550px;
	margin-top: 225px;
	color: #FFF;
	font-size: 14px;
}

.description h1{
	font-size: 30px;
	line-height: 50px;
}

.downloadLinks{
	margin-top: 40px;
}

.downloadLinks > .android{
	margin-left: 25px;
}

.panel{
	padding: 150px 0;
	min-height: 777px;
}

.panel h2{
	font-size: 28px;
}

.instantshopping .info{
	margin-left: 560px;
	margin-top: 220px;
}

.panel img{
	width: 480px;
	position: absolute;
}

.panel .info p{
	color: #8D8D8D;
}

.instantshopping img{
	left: 0;
}

.browsedeals h2{
	color: #595959;
}

.browsedeals img{
	right: 0;
	top: 0;
	width: 280px;
}

.panel.browsedeals{
	background: #F4F4F4;
}

.browsedeals .info{
	margin-right: 500px;
}

.twelveHours{
	margin: 80px auto;
	border: 1px solid #DDD;
	border-width: 1px 0 1px 0;
	padding: 40px 0;
}

.twelveHours .subtext{
	float: right;
	font-size: 42px;
	width: 340px;
	margin-top: 55px;
	display: block;
	color: #666;
}

.twelveHours span.glyphicon{
	font-size: 140px;
	color: #222;
}

.twelveHours p{
	margin-top: 40px;
}

.founders > h2{
	font-size: 44px;
	text-align: center;
}

.founders > .info > p{
	width: 800px;
	margin: auto;
	margin-bottom: 60px; 
}

.panel section img{
	position: static;
}

.founders .aboutfounders{
	text-align: center;
}

.founders .aboutfounders p{
	text-align: left;
}

.founders .aboutfounders h3{
	margin-bottom: 0;
}

.founders .aboutfounders h4{
	margin-bottom: 20px;
	margin-top: 0;
}

.founders .aboutfounders img{
	border-radius: 4px;
	width: auto;
}

.founders section{
	margin: 0 20px;
	width: 400px;
	display: inline-block;
}

.founders .info > p{
	font-size: 25px;
	line-height: 40px;
}

@media screen and (min-width: 1800px) {

	header {
		background-size:100% 646px;
	}

}