.helvbold{
	font-family: 'helvetica_neuebold', 'Helvetica', 'Arial', sans-serif;
}

.helvreg{
	font-family: 'helvetica_neueregular', 'Helvetica', 'Arial', sans-serif;
}

.helvlight{
	font-family: 'helvetica_neuelight', 'Helvetica', 'Arial', sans-serif;
}

header{
	height: 645px;
	position: relative;
	background: url('/img/bg.png');
	
}

.wrapper{
	width: 1000px;
	margin: auto;
	position: relative;
}

#logo{
	font-family: 'helvetica_neuebold', 'Helvetica', 'Arial', sans-serif;
	font-size: 28px;
	line-height: 60px;
	color: #FFF;
}

#logo > a{
	color: inherit;
	text-decoration: none;
}

img.phones{
	position: absolute;
	right: 0;
	top: 75px;
}

img.phones.shifted{
	right: 140px;
}

.description{
	margin-right: 550px;
	margin-top: 400px;
	color: #FFF;
	font-size: 14px;
}

.description h1{
	font-size: 30px;
	line-height: 40px;
}


@media screen and (min-width: 1800px) {

	header {
		background-size:100% 646px;
	}

}