body{
	overflow: scroll;
}

#content{
	padding-top: 60px;
}

h3, h5{
	margin: 20px;
}

.actions {
	text-align: right;
	color: #DDD;
	float: left;
}

div.actions > div{
	background: #ACE8F2;
	border-radius: 20px;
	height: 40px;
	padding-top: 10px;
	width: 40px;
	text-align: center;
	display: inline-block;
	margin: 0 5px;
	transition: .3s;
	-webkit-transition: .3s;
}

div.actions > div:hover{
	cursor: pointer;
}

div.actions > div:active, .selected{
	background: #34B5DC;
}


div.actions .favorite{
	color: #000;

}

div.actions > div.selected{
	background: #34B5DC;
}
div.actions > div.selected span{
	color: #E94E77;
}	

div.actions > div:last-child{
	margin-right: 0;
}

div.actions > div span{
	font-size: 24px;
	color: #FFF;
}

.description{
	color: #888;
	line-height: 24px;
	margin: 20px;
}