body{
	background: #1bb0fd; /* Old browsers */
	background: -moz-linear-gradient(top, #1bb0fd 0%, #77c9f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1bb0fd), color-stop(100%,#77c9f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1bb0fd 0%,#77c9f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1bb0fd 0%,#77c9f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1bb0fd 0%,#77c9f4 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1bb0fd 0%,#77c9f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1bb0fd', endColorstr='#77c9f4',GradientType=0 ); /* IE6-9 */
}

#logo{
	width: 100%;
	display: block;
	margin: auto;
	padding-top: 200px;
}