<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
   AuthName "Restricted Area" 
	AuthType Basic 
	AuthUserFile /var/www/peekoapp.com/.htpasswd 
	AuthGroupFile /dev/null 
	require valid-user
</IfModule>